#Filters{
    display: none;

}
.slider{
    display:inline-block;
    margin: 1em 2%; 
}
.slider input{
  width:200px;
}
.slider.faded{
    color:#888;
}
#canvas {
    border: 5px transparent solid;
}
#canvas.proc{
    border: 5px darkred solid;
}
#statustext{
    color:#888;
  
}
#title{
    font-weight: bold;
    color:#0a5bb7;
    font-size: 36pt;
}
#subtitle{
    color:#CCD;
}
.container{
      text-align: center;
          font-weight: bold;
    font-size: 15pt;
}
#canvas{
    margin-top:2em;
}

.community-links li{
    font-size:16pt;
    list-style: none;
    display: inline;
    margin: 0.5em 1em;
}
.community-links a{
        text-decoration: none;
}
.community-links a:hover{
        text-decoration: underline;
}
body{
    font-family: "Cabin",  "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}