#Filters{
    display: none;
}
body{
    background-color: #EEE;
}
.slider{
    display:inline-block;
    margin: 1em 1.5%;
    color:#333;
    min-width:33%;
    width:15em; 
    max-width: 100%;
}
.slider input{
width: 100%;
}
.slider.faded{
    color:#BBB;
}
#canvas {
    border: 5px transparent solid;
}
#canvas.proc{
    border: 5px darkred solid;
}
#statustext{
    color:#333;
  
}
#title{
    font-weight: bold;
    color:#0a5bb7;
    font-size: 36pt;
}
#subtitle{
    color:#CCD;
}
.container{
      text-align: center;
          font-weight: bold;
    font-size: 15pt;
}
#canvas{
    margin-top:2em;
}

.community-links li{
    font-size:16pt;
    list-style: none;
    display: inline;
    margin: 0.5em 1em;
}
.community-links a{
        text-decoration: none;
}
.community-links a:hover{
        
         color: #0a5bb7;
}
body{
    font-family: "Cabin",  "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input[type=file] {

  -webkit-appearance: textfield;
  -webkit-box-sizing: border-box;
 
 height: 2em;
      max-width: 100%;
    text-align: center;
}

input[type=file]::-webkit-file-upload-button {
  border: none;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  width: 4px;
  visibility: hidden;
}

/* "x::-webkit-file-upload-button" forces the rules to only apply to browsers that support this pseudo-element */
x::-webkit-file-upload-button, input[type=file] {



  margin-left:3px;
  padding: 0.45em 8px 2px;
 
      display: inline-block;
    height: 2em;
 
    color: #1EAEDB;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1.8em;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 2px solid #1EAEDB;
    cursor: pointer;
    box-sizing: border-box;
    
    }
x::-webkit-file-upload-button, input[type=file]:hover {
     border: 2px solid #0a5bb7;
     color: #0a5bb7;
}


.slider .rangeslider__handle {
    height: 20px;
    width: 20px;
    margin-top: 5px;
}
.slider .rangeslider--horizontal{
    margin-top: 0.5em;
    height: 10px;
}
.slider .rangeslider__fill {
    background: #1EAEDB;
    position: absolute;
}